<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Document</title>
    <link rel="stylesheet" href="static/css/style.css" type="text/css">
</head>
<body>
<!-- Main container -->
    <div class="container">
        <h1>Upload Your PDF Doccument!</h1>
        <!-- Upload file form (Will be hidden and Overlapped by <lable for="file"> for better UI) -->
        <form action="/" method="post" enctype="multipart/form-data" id="uploadForm">
            <!-- upload file box -->
            <input type="file" name="file" id="file" style="display: none;" onchange="updateLabel()">
            <!-- label to overlap with the uploadfile box -->
            <label for="file">Click Here to Choose File</label><br><br>
            <!-- show the uploaded filename -->
            <span id="file-chosen">No file chosen</span><br><br>
            <input type="submit" value="Upload">
        </form>
    </div>
<!-- Script for updating the filName -->
    <script>
    function updateLabel() {
        var input = document.getElementById('file');
        var fileName = input.value.split('\\').pop();
        document.getElementById('file-chosen').textContent = fileName ? fileName : "No file chosen";
        }

    </script>
</body>
</html>